<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<form action="/bookking/qna/register" id="myform" name="myform">
		<input type="text" name="bookId" value="111">
		<input type="text" name="userId" value="admin">
		<input type="text" name="qnaTitle" value="사이트 잘못 만든 죄">
		<input type="text" name="qnaContent" value="바로 바로 적용은 안되지만 데이터 들어가는거 확인!">
		<input type="submit" id="myauto" value="전송">
	</form>
	<script>
		document.myauto.click();
	</script>
</body>
</html>