<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">

<resultMap type="kr.co.bookking.VO.CartVO" id="cartMap">
	<result column="CART_USER_ID" property="cartUserId"/>
	<result column="CART_BOOK_ID" property="bookId"/>
	<result column="CART_STOCK" property="cartStock"/>
	<result column="CART_CREATE_DATE" property="cartCreateDate"/>
</resultMap>



	<select id="getCartList" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT BC.CART_USER_ID as CART_USER_ID
		          ,BC.CART_STOCK as CART_STOCK
		          ,BC.CART_BOOK_ID as CART_BOOK_ID
		          ,BB.BOOK_NAME as BOOK_NAME
<!-- 		          ,TO_NUMBER(DATE_FORMAT(BB.BOOK_PRICE,'999,999')) as BOOK_PRICE -->
<!-- 		          ,TO_NUMBER(BB.BOOK_PRICE,'999,999') as BOOK_PRICE -->
 		          ,BB.BOOK_PRICE as BOOK_PRICE
		          ,BB.BOOK_LIST_IMAGE as BOOK_LIST_IMAGE
		          ,BB.BOOK_WRITER as BOOK_WRITER
		  FROM BK_CART BC, BK_BOOK BB
		WHERE BC.CART_BOOK_ID = BB.BOOK_ID
		    AND BC.CART_USER_ID = #{userId}
	</select>
	
	<select id="isExistedCart" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT COUNT(*)
			  FROM BK_CART BC, BK_BOOK BB
			WHERE BC.CART_BOOK_ID = BB.BOOK_ID
			    AND BC.CART_USER_ID = #{userId}
	        AND BC.CART_BOOK_ID =#{bookId}
	</select>
	
	<insert id="addCart" parameterType="java.util.Map" >
		INSERT INTO BK_CART
		VALUES(#{userId}
					,#{bookId}
					,#{cartStock}
					,now())
	</insert>
	
	<delete id="deleteCart" parameterType="java.util.Map" >
		DELETE FROM BK_CART
		WHERE CART_USER_ID = #{userId}
	  		AND CART_BOOK_ID = #{bookId}
	</delete> 
	
	<delete id="deleteCartTimeout">
			DELETE FROM BK_CART
		   WHERE TO_DATE(CART_CREATE_DATE,'YY/MM/DD')+30 = TO_DATE(now(),'YY/MM/DD')
	</delete>
	
	<update id="updateCartList" parameterType="kr.co.bookking.VO.CartVO" >
		UPDATE BK_CART
			SET CART_STOCK = #{cartStock}
	   WHERE CART_USER_ID = #{cartUserId}
		   AND CART_BOOK_ID = #{bookId}
	</update>
	
	<delete id="deleteOrderCartList" parameterType="java.lang.String">
		DELETE FROM BK_CART
		WHERE CART_USER_ID =#{userId}
	</delete>

</mapper>